<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Sport Section</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-5">
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="navigation">
		<a href="index.html"><img src="images/but1.gif" alt="" width="19" height="16" /></a>           																									<div class="inner_copy"><a href="http://www.greatdirectories.org/">web directories</a><a href="http://www.bestfreetemplates.info/">free CSS templates</a></div>
		<a href="#"><img src="images/but2.gif" alt="" width="19" height="16" /></a>
		<a href="#"><img src="images/but3.gif" alt="" width="19" height="16" /></a>
	</div>
	<div class="logo">
		<a href="index.html"><img src="images/logo.gif" alt="Sport Section" width="231" height="58" /></a>
	</div>
	<div id="header">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="index2.html">Training</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#">Instructors</a></li>
			<li><a href="#">Contacts</a></li>
		</ul>
		<span class="page1">01</span>
		<p class="slogan">Lorem ipsum dolor sit amet, conset etur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et con dolore <br /> magna aliqe erat, sed diam </p>
	</div>
	<div id="wrapper">
		<div id="contents">
			<div id="left">
				<img src="images/title1.gif" alt="" width="597" height="43" />																																																																																																																																																																																																																																	<div class="inner_copy"><a href="http://www.bestfreetemplates.org/">free templates</a><a href="http://www.bannermoz.com/">banner templates</a></div>
				<p>
					Lorem ipsum dolor sit amet, sectetu adip scing varius interdum incid unt quis, libero. Aenean mturpis. Maecenas hendrerit masa laoreet iaculipede mnisl ulamcorper. Tellus er sodales enim, in tincidunt mauris in odio. Massa ac laoreet iaculipede nisl ullamcorpermassa, ac consectetuer feipsum eget pede.  Proin nunc. Donec massa. Nulla pulvinar, nisl ac convallis nonummy, tellus eros sodales enim, in tincidunt mauris in odio.  massa ac laoreet iaculipede nisl ullamcorpermassa,consectetuer feipsum eget pede. Proin nunc. Donec massa. Nulla pulvinar, nisl ac convallis nonummy, tellus eros sodales enim, in tincidunt mauris in odi.
	Lorem ipsum dolor sit amet, consectetuer adipi scing elit.Mauris u tincidunt quis, libero. <br /><br /> Maecenas hendrerit, massa ac laoreet iaculipedenisl ullamcorpermassa, ac consectetuer feipsum eget pede. Proin nunc. Donec massa. Nulla pulvinar, nisl ac convallis nonummy, tellus eros sodales enim, in tincidunt mauris in odio.  massa ac laoreet iaculipede nisl ullamcorpermassa, ac consectetuer feipsum eget pede. Proin nunc. Donec massa. <br /> Nulla pulvinar, nisl ac convallis nonummy, tellus eros sodales enim, in tincidunt mauris in odio.  massa ac laoreet iaculipede nisl ullamcorpermassa,consectetuer feipsum eget pede. Proin nunc. Donec massa. Nulla pulvinar, nisl ac convallis nonummy, tellus eros sodales enim, in tincidunt mauris in odio. 
				</p>
				<img src="images/title2.gif" alt="" width="597" height="43" />
				<div class="block">
					<img src="images/pic1.jpg" alt="" width="188" height="121" />
					<p>
						Lorem ipsum dolor sit amet, sectetu adip scing varius interdum incid unt quis, libero. Aenean mturpis. Maecenas hendrerit masa laoreet iaculipede mnisl ulamcorper. Tellus er sodales enim, in tincidunt mauris in odio. Massa ac laoreet iaculipede nisl ullamcorper- massa, ac consectetet pede.  
						<a href="#">Sectetu adip scing</a>
					</p>
				</div>
				<p>Lorem ipsum dolor sit amet, sectetu adip scing varius interdum incid unt quis, libero. Aenean mturpis. Maecenas hendrerit masa laoreet iaculipede mnisl ulamcorper. Tellus er sodales enim, in tincidunt mauris in odio. Massa ac laoreet iaculipede nisl ullamcorpermassa, ac consectetuer feipsum eget pede.  Proin nunc. Donec massa. Nulla pulvinar, nisl ac convallis nonummy, tellus eros sodales enim, in tincidunt mauris in odio.  massa ac laoreet iaculipede nisl ullamcorpermassa,consectetuer feipsum eget pede. Proin nunc. Donec massa. Nulla pulvinar, nisl ac convallis nonummy, tellus eros sodales enim, in tincidunt mauris in odi.
	Lorem ipsum dolor sit amet, consectetuer adipi scing elit.Mauris u tincidunt quis, libero. 
				</p>
			</div>
			<div id="right">
				<img src="images/title3.gif" alt="" width="351" height="60" /><br />
				<div class="white">
					<div class="news">
						<span>09. 07. 2008</span>
						<p>Lorem ipsum dolor sit amet, sectetu adip scing varius interdum incid unt quis, libero. Aenean mturpis. Maecenas hendrerit masa laoreet iaculipede mnisl ulamcorper. Tellus er sodales enim, in tincidunt mauris in odio. </p>
						<a href="#">read more</a>
					</div>
					<div class="news">
						<span>12. 04. 2008</span>
						<p>Lorem ipsum dolor sit amet, sectetu adip scing varius interdum incid unt quis, libero. Aenean mturpis. Maecenas hendrerit masa laoreet iaculipede mnisl ulamcorper. Tellus er sodales enim, in tincidunt mauris in odio. </p>
						<a href="#">read more</a>
					</div>
				</div>
				<div id="contact">
					<img src="images/title4.gif" alt="" width="313" height="33" /><br />
					<img src="images/phone.gif" alt="" width="277" height="27" class="phone" />
					<p>Lorem ipsum dolor sit amet, sectetu adip scing varius interdum incid unt quis, libero. Aenean mturpis. Maecenas hendrerit masa laoreet iaculipede mnisl ulamcorper. <br />
						Tellus er sodales enim, in tincidunt mauris in odio. <br />
						Massa ac laoreet iaculipede nisl ullamcorpermassa, ac consectetuer feipsum eget pede.  <br />
						Proin nunc. Donec massa. </p>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<a href="index.html">Home</a>  |  <a href="index2.html">Training</a>  |  <a href="#">Services</a>  |  <a href="#">Instructors</a>  |  <a href="#">Contacts</a>  |  <a href="#">Site Map</a><br />
		Copyright &copy;. All rights reserved. Design by <a href="http://www.bestfreetemplates.info" class="bft" title="Best Free Templates" target="_blank">BFT</a>																																																																																						<div class="inner_copy"><a href="http://www.beautifullife.info/">beautiful</a><a href="http://www.grungemagazine.com/">grunge</a></div>
	</div>
</body>
</html>
